version: '3.8'

services:
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/nginx.conf
     
    depends_on:
      - web

  web:
    build: ./globalIsc
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./globalIsc/:/usr/src/backend/
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - db

  daphne:
    build: ./globalIsc
    command: daphne --bind 0.0.0.0 -p 8002 backend.asgi:application
    ports:
      - "8002:8002"

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgresuser
      - POSTGRES_PASSWORD=postgrespassword
      - POSTGRES_DB=backend

volumes:
  postgres_data: